@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
}
.box-shadow{
    -webkit-box-shadow: 0 0 25px rgba(0,0,0,0.2);
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
  }

  .loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 10, 0.5);
  /* background-color: white; */
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-col{
  background: rgba(255, 255, 255, 0.12);
}
.header-bg{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../public/bg/bg-2-home-5.jpg) no-repeat center top
}
.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }